/*login*/
#arrow-box {
    text-align: center;
    padding: 0;
}
#arrow-box2 {
    display: inline-block;
    vertical-align: middle;
}
#arrow-a {
    display: inline-block;
    border-radius: 50%;
}
a:hover .right{
    border: 0.1em solid white;
    background-color: white;
}
a:hover .right:after {
    content: '';
    display: inline-block;
    margin-top: 1.2em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.1em solid #ff434e;
    border-right: 0.1em solid  #ff434e;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.right {
    border: 0.1em solid white;
    background-color: white;
    display: inline-block;
    width: 4em;
    height: 4em;
    /* border: 0.1em solid #333; */
    border-radius: 50%;
    /* margin-left: 1.5em; */
}
.right:after {
    content: '';
    display: inline-block;
    margin-top: 1.2em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.1em solid black;
    border-right: 0.1em solid black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*navbar _list*/
.navbar{
    height:41px;
    position:absolute; top:0px;
    left:0px;
}
.navbar-ul {
    background: white;
    margin: -1px;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    border-bottom-width: 4px;
    border-bottom: 2px solid #D5D8DC;
}
.navbar-ul>li {
    display: inline-block;
}
.navbar-ul>li>a {
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    margin-left: 10px;
    font-size: 0.8em;
    color: black;
}
/*list-content*/
.list-img{
    width: 100%;
    max-width: 100%;
    max-height: 214px;
    vertical-align: middle;
    border-radius: 5px;
}
.list-content{
    margin-bottom: 5px;
}
.navbar-ul>li>a:hover {
    border-bottom:2px solid #009999;
}

/*hostel-list*/
.content-txt{
    text-align:left;
    margin-top:10px;
    margin-left:5px;
    margin-bottom: 10px;
}

#content-txt-info{
    font-size:13px;
}

#content-txt-title{
    font-size:25px;
}

#content-txt-price{
    font-size:17px;
}
